{#{% extends '@Pinboard/layout.html.twig' %}#}

{% block body %}
    <div class="container">
        <h1>Register a new user</h1>

        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Register!</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}